.wizard-form {
	padding-right: 30px;
}
.dataTables_length, .dataTables_info, .dt-buttons {
    padding-left: 0 !important;
    
}
.dropdown-item.active, .dropdown-item:active {
    font-weight: bold !important;
}
div.dataTables_scrollBody {
    border-left: 0px !important;
}
.dt-buttons.btn-group .btn-secondary{
    border: 1px #dee2e6 solid;
}
.dt-buttons.btn-group .btn-secondary:hover{
    background: #dee2e6 !important;
}
.dt-buttons.btn-group .btn-secondary:active{
    background: #dee2e6 !important;
    box-shadow: none !important;
    border: 1px #dee2e6 solid !important;
}


.select2-result-repository { padding-top: 4px; padding-bottom: 3px; }
.select2-result-repository__avatar { float: left; width: 60px; margin-right: 10px; }
.select2-result-repository__avatar img { width: 100%; height: auto; border-radius: 2px; }
.select2-result-repository__meta { margin-left: 70px; }
.select2-result-repository__title { color: #525f7f; font-weight: bold; word-wrap: break-word; line-height: 1.1; margin-bottom: 4px; }
.select2-result-repository__forks, .select2-result-repository__stargazers { margin-right: 1em; }
.select2-result-repository__forks, .select2-result-repository__stargazers, .select2-result-repository__watchers { display: inline-block; color: #aaa; font-size: 11px; }
.select2-result-repository__description { font-size: 13px; color: #777; margin-top: 4px; }
.select2-results__option--highlighted .select2-result-repository__title { color: white; }
.select2-results__option--highlighted .select2-result-repository__forks, .select2-results__option--highlighted .select2-result-repository__stargazers, .select2-results__option--highlighted .select2-result-repository__description, .select2-results__option--highlighted .select2-result-repository__watchers { color: #c6dcef; }
.clearfix{
  clear:both;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb !important;
    color: white;
}

.box-saldo{
}

.btn-saldo-refresh{
    background: transparent;
    color: #fff;
    font-weight: bold;
    border: none;
}

.info-saldo{
    padding: 10px;
}


select[readonly].select2-hidden-accessible + .select2-container {
    pointer-events: none;
    touch-action: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

select[readonly].select2-hidden-accessible + .select2-container .select2-selection__arrow,
select[readonly].select2-hidden-accessible + .select2-container .select2-selection__clear {
    display: none;
}

.btn-saldo-refresh {
    outline: none !important;
}

.btn-saldo-refresh.loading {
    animation: infinite 2s linear rotate;
}
  
@-webkit-keyframes rotate {
    from {
    -webkit-transform: rotate(0deg);
    }
    to {
    -webkit-transform: rotate(360deg);
    }
}

@keyframes rotate {
    from {
    transform: rotate(0deg);
    }
    to {
    transform: rotate(360deg);
    }
}
/* 
.btn-fab{
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    font-size: 20px;
    z-index: 999;
} */

body{
    font-family: 'Lexend Deca', sans-serif !important;
}

.navbar-vertical .navbar-nav .nav-link > object
{
    margin-right: .7rem;
}


.custom-icon {
    width: 1.4rem;
    height: 1.5rem;
    fill: currentColor !important;
}

.custom-icon-large {
    width: 1.6em;
    height: 2em;
}

.custom-icon-small {
    width: 1.38em;
    height: 1.38em;
}

.custom-icon-primary {
    filter: invert(52%) sepia(77%) saturate(4523%) hue-rotate(191deg) brightness(100%) contrast(103%);
}

.custom-icon-secondary {
    filter: invert(38%) sepia(9%) saturate(11%) hue-rotate(50deg) brightness(100%) contrast(91%);
    /* filter: invert(24%) sepia(83%) saturate(18%) hue-rotate(81deg) brightness(96%) contrast(86%); */
}

.custom-icon-white {
    filter: invert(100%) sepia(4%) saturate(523%) hue-rotate(204deg) brightness(115%) contrast(100%);
}

.nav-link:hover .custom-icon-secondary {
    filter: invert(24%) sepia(83%) saturate(18%) hue-rotate(81deg) brightness(96%) contrast(86%);
}

.navbar-vertical.navbar-expand-xs .navbar-nav > .accordion > .collapse > .nav-item > .nav-link.active > object
{
    filter: invert(93%) sepia(100%) saturate(28%) hue-rotate(41deg) brightness(106%) contrast(107%);
}


.custom-icon-danger {
    color: #e3342f; /* Danger color */
}

.border-5 {
    border: 5px solid #e9ecef;
}